<%- include('partials/header') %>

<div class="container mt-5">
  <div class="alert alert-danger">
    <h4 class="alert-heading">Błąd</h4>
    <p><%= message %></p>
    <hr />
    <a href="/bids" class="btn btn-primary">Powrót do listy przetargów</a>
  </div>
</div>

<%- include('partials/footer') %>
