<%- include('partials/header') %>
<div
  class="container d-flex flex-column justify-content-center align-items-center"
  style="height: 80vh"
>
  <h1 class="text-center" style="margin-bottom: 50px">
    Witamy w systemie składania ofert
  </h1>
  <p class="text-center">
    Platforma umożliwia instytucjom publikację oraz składanie ofert.
  </p>
  <p class="text-center">
    Aby zobaczyć listę aktywnych i zakończonych przetargów skorzystaj z
    przycisków w nagłówku strony.
  </p>
  <p class="text-center">
    Aby dodać przetarg, kliknij przycisk "Dodaj przetarg" w nagłówku strony.
  </p>
</div>
